body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #b22222; /* Azul escuro */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Para evitar barras de rolagem */
}

#texto {
    position: absolute;
    top: 100px;
}

img {
    position: absolute;
    top: 185px;
    width: 200px;
}

.snow-container {
    position: relative;
}

.snowflake {
    position: absolute;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #fff; /* Branco */
    border-radius: 50%;
    animation: snow-fall 10s linear infinite, twinkle 1s ease-in-out infinite;
}


.snowflake:nth-child(2),
.snowflake:nth-child(3),
.snowflake:nth-child(4),
.snowflake:nth-child(5),
.snowflake:nth-child(6),
.snowflake:nth-child(7),
.snowflake:nth-child(8),
.snowflake:nth-child(9),
.snowflake:nth-child(10),
.snowflake:nth-child(11),
.snowflake:nth-child(12),
.snowflake:nth-child(13),
.snowflake:nth-child(14),
.snowflake:nth-child(15),
.snowflake:nth-child(16),
.snowflake:nth-child(17),
.snowflake:nth-child(18),
.snowflake:nth-child(19),
.snowflake:nth-child(20) {
    width: 10px;
    height: 10px;
    animation-duration: 10s;
}

@keyframes snow-fall {
    0% {
        transform: translateY(-100vh) translateX(-50%);
    }
    100% {
        transform: translateY(100vh) translateX(-50%);
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.container {
    position: relative;
    z-index: 1; /* Para garantir que o conteúdo esteja acima da neve */
    background-color: lightgreen; /* Amarelo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#participants-container {
    margin-bottom: 20px;
}

#participant-input {
    padding: 8px;
    width: 60%;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #d9534f; /* Vermelho escuro */
    color: white;
    border: none;
    border-radius: 4px;
}

#participants-list {
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #228B22; /* Verde floresta */
}

#result-container {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    color: #c0392b; /* Vermelho escuro */
}
